_**Kot trgovec moram neverificirane stranke verificirati**_

Verifikacijo stranke lahko opravite na 3 enostavne načine:

1. Verifikacija z [Verifikacijskim app ali VF-app](https://storage.googleapis.com/stoplight-resources/guides/NAVODILA%20LP%20ZA%20ID%20in%20DOSTAVO%20V3.1.pdf) - Najbolj primerno za Click & Collect ali prevzemna mesta
2. Verifikacija z [Vendor app - Verifikacijski list](https://storage.googleapis.com/stoplight-resources/Download/20210630%20NavodilaLP_ID%201.4.pdf)
3. Verifikacija z [API - POST /api/verification-document/get](https://docs.leanpay.com/docs/leanpay-si/89416c9a1e91b-get-verification-document)

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <br><br>
  <div class="wrapper"><p>Potrebujete pomoč pri implementaciji ali imate vprašanje?</p>
  <a href="mailto:partner@leanpay.si?subject=Pomoč pri implementaciji" target="_blank" download>
 <button class="btn"><i class="fa fa-paper-plane"></i> Pišite nam</button></div>
</body>
</html>
